ebw-movies/.run/
ebw-movies/00_read_zip/make_docker.sh
ebw-movies/00_read_zip/common_py/
ebw-movies/00_read_zip/common_scripts/
ebw-movies/01_unzip/make_docker.sh
ebw-movies/01_unzip/common_py/
ebw-movies/01_unzip/common_scripts/
ebw-movies/02_split/make_docker.sh
ebw-movies/02_split/common_py/
ebw-movies/02_split/common_scripts/
ebw-movies/03_tsv2csv/common_py/
ebw-movies/03_tsv2csv/common_scripts/
ebw-movies/03_tsv2csv/make_docker.sh
ebw-movies/04_transform/make_docker.sh
ebw-movies/04_transform/common_py/
ebw-movies/04_transform/common_scripts/
ebw-movies/04_transform/transformation/transformation.jar
ebw-mq/app/bin/
ebw-mq/app/obj/
ebw-mq/app/appsettings.Development.json
